<widget id="fr.limo-vtc.geoloc" version="0.0.1"> 
    <name>LIMO - GEOLOC</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="nicolas@agwc.fr" href="http://www.limo-vtc.fr/">
        Agence web conseil - LIMO
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="nl.x-services.plugins.insomnia" />  
</widget>